In [18]:
from bs4 import BeautifulSoup
import pandas as pd
f=open("indeed jobs.html",encoding="utf-8")
soup=BeautifulSoup(f,"html.parser")
details=soup.find_all("td",class_="resultContent css-1o6lhys eu4oa1w0")
d={'name-of-the-job':[],'name-of-the-company':[],'job-location':[],'job-details':[]}
for i in details:
    post=i.find('div',class_="css-pt3vth e37uo190")
    d['name-of-the-job'].append(post.text)
    company=i.find('div',class_="css-1afmp4o e37uo190")
    d['name-of-the-company'].append(company.text)
    loc=i.find('div',class_="css-1restlb eu4oa1w0") #OR WE CAN PASS DICTIONARY: 'DIV',{"class":"xyz","id":"abc"}
    d['job-location'].append(company.text)
    detail=i.find('div',class_="jobMetaDataGroup css-qspwa8 eu4oa1w0")
    d['job-details'].append(detail.text)
df=pd.DataFrame(d)
df

,name-of-the-job,name-of-the-company,job-location,job-details
0,Junior Python Developer,Saltriver Infosystems Pvt Ltd,Saltriver Infosystems Pvt Ltd,"₹13,000 - ₹22,000 a month"
1,AI & ML - Trainee,Techify Solutions,Techify Solutions,
2,Python Developer Fresher,XcelTec,XcelTec,
3,AI ML Python Developer,"Arrow Electronics, Inc.","Arrow Electronics, Inc.",Full-time
4,Trainee AI ML,Vrinsoft Technology,Vrinsoft Technology,
5,Python Developer,Taasha Technologies,Taasha Technologies,
6,AI Engineer,PySquad Informatics LLP,PySquad Informatics LLP,"₹50,000 - ₹70,000 a month"
7,Full Stack Developer Intern,JuniGadi.com,JuniGadi.com,"₹15,000 - ₹20,000 a month"
8,Data Analyst,Anblicks,Anblicks,
9,Python Developer,Sufalam Technologies Private Ltd.,Sufalam Technologies Private Ltd.,"₹50,000 - ₹55,000 a month"
10,AI & ML Technologies Specialist,Zydus Group,Zydus Group,
11,AI/ML Engineer,eSparkBiz Technologies Pvt. Ltd,eSparkBiz Technologies Pvt. Ltd,"₹50,000 - ₹70,000 a month"
12,Python Developer,reverseBits Tech LLP,reverseBits Tech LLP,"Typically responds within 3 daysFrom ₹20,000 a..."
13,Python Developer,Albiorix Technology,Albiorix Technology,
14,Python Developer Fresher,Xceltec Interactive Pvt ltd,Xceltec Interactive Pvt ltd,"From ₹10,000 a month"