In [ ]:
"""Types of Machine Learning:-
--- Supervised learning
--- Unsupervised learning
--- Semi-Supervised learning
--- Reinforced lerning
"""

In [2]:
import matplotlib.pyplot as plt
import pandas as pd
df=pd.read_csv("Book1.csv")
df

     X   Y
0   15  49
1   23  63
2   18  58
3   23  60
4   24  58
5   22  61
6   22  60
7   19  63
8   19  60
9   16  52
10  24  62
11  11  30
12  24  59
13  16  49
14  23  68

In [13]:
from sklearn.model_selection import train_test_split
x=df[['X']]
y=df['Y']
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=10)
x_train
#test_size=0.2 means 20 percent of data is required to test the model, random_state splits the row and for 0.2 test
#size 20 percent for testing and 80 percent for training, in question they will give train size but we need to
# write test size

     X
6   22
8   19
2   18
10  24
5   22
11  11
14  23
1   23
0   15
4   24
13  16
9   16

In [14]:
# if there is import error in exam then import numpy as np and then in next line np.float=np.float64
from sklearn.linear_model import LinearRegression
lr=LinearRegression()
lr

LinearRegression()

In [17]:
lr.fit(x_train,y_train)
y_pred=lr.predict(x_test)

array([63.30935252, 54.96402878, 65.39568345])

In [22]:
from sklearn.metrics import mean_absolute_error,mean_squared_error,r2_score
print(mean_absolute_error(y_test,y_pred))
print(mean_squared_error(y_test,y_pred))
print(r2_score(y_test,y_pred))
lr.predict([[55]])

5.913669064748201
38.811138139847834
-12.434624740716558

array([130.07194245])